

<header>
  <h1> To Do List </h1>
</header>

<nav>
    <ul>
      <li><a href='/'>Home</a></li>

      <li><a href='/new-task'>Add a New Task!</a></li>
    </ul>
</nav>


<main>

  <% tasks_to_do = @task_list_database.all_tasks %>

    <% tasks_to_do.each do |task| %>
      <div>
        <h2>
          <%= task[1] %>
        </h2>
        <p>
          <%= task[2] %>
        </p>
      </div>
    <% end %>

</main>
