<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>

  <body>
    <header>
      <h1> TO DO LIST </h1>
      <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new-task'>Add a New Task!</a></li>
      </ul>
  </nav>
    </header>

    <main>
      <%=yield%>

    </main>

  </body>

</html>
