<form action="" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Tasks</legend>

      <label>Task:<input type="text" name="tasks[title]" value=""></label>
      <label>Description:<input type="text" name="tasks[description]" value=""></label>
      <input type="hidden" name="tasks[added_at]" value="">
      <input type="hidden" name="tasks[completed_at]" value="">

  </fieldset>

  <input type="submit" value="Submit">
</form>
