html {
  font-size: 16px;
  font-family: monospace;
  z-index: 0;
}

body {
  background-color: #252839;
  color: #b5b5b7;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation {
  background-color: #677077;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
}

nav {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav > a {
  text-decoration: none;
  font-size: 2rem;
  color: #b5b5b7;
  text-decoration: none;
  margin: 0 2rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
  z-index: 0;
}

h2 {
  margin: 1rem;
}

p {
  font-size: 1rem;
  z-index: 0;
  margin: 0;
}

a:hover {
  color:#f2b632;
}

/*get user input with graphics and text for what they want to do to task list*/
input[type="radio"] {
  display: none;
}

.mark-complete, .remove-task, .add-task {
  height: 5rem;
  width: 5rem;
  margin: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  display: inline-block;
  cursor: pointer;
}

.mark-complete {
  background-image: url('../images/interface2.png');
}

.remove-task {
  background-image: url('../images/circlex2.png');
}

.add-task {
  background-image: url('../images/pen2.png');
}

.mark-complete:hover, .remove-task:hover, .add-task:hover {
  background-image: none;
}

.text {
  visibility: hidden;
  color: #f2b632;
  font-weight: bold;
  align-self: center;
  margin-top: 2rem;
  display: inline-block;
}

.mark-complete:hover .text, .remove-task:hover .text, .add-task:hover .text {
  visibility: visible;
  align-self: center;
}

.user-choice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*display tasks as tiles*/
.task-tile, .cover-tile {
  width: 10rem;
  height: 10rem;
}

.list-tasks {
  display: flex;
  /*display newest additions first!*/
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.task-tile {
  z-index: 0;
  align-items: center;
  margin: 4rem;
  border-radius: 1rem;
  border-color: #f2b632;
  border-width: thick;
  border-style: solid;
}

.overlay {
  /*takes out of the flow so text appears beneath*/
  position: absolute;
}

/*display image/action icon on hover... uses a big button*/
.cover-tile {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 1;
  transition: .2s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}

.complete:hover {
  background-image: url( '../images/completed2.png' );
}

.remove:hover {
  background-image: url( '../images/remove.png' );
}

/*completed task list*/
.done {
  /*display tasks that are completed as darker*/
  opacity: .3
}

.already-complete {
  background-image: url( '../images/completed2.png' );
}

/*user inputs title of task and description*/
.task-entry {
  width: 75%;
  margin: auto;
}

.task-entry fieldset {
  border-radius: 1rem;
  border-color: white;
  border-width: thick;
  border-style: solid;
  border-color: #f2b632;
  padding-bottom: 1rem;
  margin: 1rem;
}

.task-entry legend {
  font-size: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.task-entry label {
  /*nice and big so it is easy to click into!*/
  padding: .75rem .75rem .25rem .75rem;
  font-size: 1.25rem;
  display: inline-block;
  width: 21rem;
  font-weight: bold;
}

.task-entry input{
  margin: .5rem 1rem;
  padding: .5rem;
  border-radius: .5rem;
  border-style: none;
  width: 20rem;
  background-color: #b5b5b7;
}

.task-entry .add-task {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url( '../images/circle+2.png' );
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .4;
  width: 3.5rem;
  height: 2.5rem;
  padding: 2.75rem .5rem 1.75rem .5rem;
  transition: .2s ease;
  cursor: pointer;
}

.task-entry .add-task:hover, .task-entry .add-task:focus {
  opacity: 1;
}
