html {
  font-size: 16px;
  font-family: monospace;
  z-index: 0;
}
body {
  background-color: #252839;
  color: #b5b5b7;
  text-align: center;
}

nav {
  background-color: #677077;
  width: 100%;
  height: 5rem;
}

main {
  display: flex;
  /*put most recently added tasks on top*/
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 17px;
  margin: 1rem 5rem;
}

a {
  text-decoration: none;
}

li a {
  text-align: center;
  font-size: 24px;
  color: #b5b5b7;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
  z-index: 0;
}

h2 {
  margin: 0;
}

p {
  font-size: 1rem;
  z-index: 0;
  margin: 0;
}


a:hover {
  color:#f2b632;
}

input[type="radio"] {
  display: none;
}

.mark-complete, .remove-task, .add-task {
  height: 5rem;
  width: 5rem;
  margin: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  display: inline-block;
  cursor: pointer;
}

.mark-complete {
  background-image: url('../images/interface.png');
}

.remove-task {
  background-image: url('../images/circlex.png');
}

.add-task {
  background-image: url('../images/pen.png');
}

.mark-complete:hover, .remove-task:hover, .add-task:hover {
  background-image: none;
}

.text {
  visibility: hidden;
  color: white;
  font-weight: bold;
  align-self: center;
  margin-top: 2rem;
  display: inline-block;
}

.mark-complete:hover .text, .remove-task:hover .text, .add-task:hover .text {
  visibility: visible;
  align-self: center;
}

.user-choice {
  display: flex;
  /*display newest additions first!*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.task-entry {
  width: 75%;
  margin: auto;
}

.task-entry fieldset {
  border-radius: 1rem;
  border-color: white;
  border-width: thick;
  border-style: solid;
  border-color: #f2b632;
  padding-bottom: 1rem;
}

.task-entry legend {
  font-size: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.task-entry label {
  /*nice and big so it is easy to click into!*/
  padding: 1rem;
  display: inline;
}

.task-entry input{
  margin: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

.task-entry .add-task {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url( '../images/circle+.png' );
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .4;
  width: 2.5rem;
  height: 2.5rem;
  transition: .2s ease;
  cursor: pointer;
}

.task-entry .add-task:hover {
  opacity: 1;
}

.task-entry .add-task:focus {
  opacity: 1;
}

.task-tile, .cover-tile {
  width: 10rem;
  height: 10rem;
}

.list-tasks {
  display: flex;
  /*display newest additions first!*/
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.task-tile {
  z-index: 0;
  align-items: center;
  margin: 4rem;
  border-radius: 1rem;
  border-color: #f2b632;
  border-width: thick;
  border-style: solid;
}

/*.to-do .task-tile {
  border-color: ;
}*/

.overlay {
  /*takes out of the flow so text appears beneath*/
  position: absolute;
}
.cover-tile {
  /*get rid of yucky grey*/
  background-color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 1;
  transition: .2s ease;
  cursor: pointer;
}

.already-complete {
  background-image: url( '../images/completed.png' );
}

.complete:hover {
  background-image: url( '../images/completed.png' );
}

.remove:hover {
  background-image: url( '../images/circlex.png' );
}

.cover-tile {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}
