html {
  font-size: 16px;
  z-index: 0;
}
body {
  background-color: teal;
  color: white;
  text-align: center;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 5rem;
}

li {
  display: inline-block;
  padding: 17px;
  margin: 1rem 5rem;
}

li a {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
}

p {
  font-size: 1rem;
}

a:hover {
  color:#b38600;

}

.task-tile, .cover-tile {
  align-items: center;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 4rem;
  border-radius: 1rem;
}

.task-tile {
  z-index: 0;

}
.cover-tile {
  visibility: hidden;
  z-index: 1;
}

.cover-tiles:hover {
  visibility: visible;
}

label {
  /*nice and big so it is easy to click into!*/
  padding: 2.5rem;
}
